<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/header :: header_h">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="/header :: header"></div>

<div class="container">
    1. 메인 페이지
    2. 현재 회원목록

    <table>
        <tr th:each="memberdto : ${memberDtoList}">
            <td th:text="${memberdto.name}"> </td>
        </tr>
    </table>

    <table>
        <tr th:each="cardDto : ${cardDtoList}">
            <td th:text="${cardDto.id}"> </td>
            <td th:text="${cardDto.cardname}"> </td>
            <td th:text="${cardDto.cardcompany}"> </td>
            <td><img th:src="@{../static/images/} + ${cardDto.cardpicture}"></td>
            <td th:text="${cardDto.cardcount}"> </td>
        </tr>
    </table>

</div>

</body>
</html>